config.stopBubbling = true

# Add @lombok.Generated annotations to all generated nodes where possible
# useful for JaCoCo (which has built in support), or other style checkers and code coverage tools
lombok.addLombokGeneratedAnnotation = true

# Setting callSuper to true, includes the equals and hashCode methods of the superclass in the generated methods of the subclass
# Be aware that not all equals implementations handle this situation properly.
# However, lombok-generated equals implementations do handle this situation properly,
lombok.equalsAndHashCode.callSuper=call